<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dance Belle</title>
  <link rel="stylesheet" href="/static/styleAbout.css">
</head>

<body>
  <nav id="navbar">
    <div id="logo">
      <h2>Dance Belle</h2>
    </div>
    <ul id="navbuttons">
      <li class="item"><a href="/">Home</a></li>
      <li class="item"><a href="/about">About Us</a></li>
      <li class="item"><a href="/news">News</a></li>
      <li class="item"><a href="/lessons">Lessons</a></li>
      <li class="item"><a href="/contact">Contact</a></li>
    </ul>
  </nav>

  <div class="conatiner">
    <div class="boxone">
      <h1>About Our School</h1>
      <p>This is where your text starts. You can click here and start typing. Labore et dolore magnam aliquam quaerat
        voluptatem ut enim ad minima veniam quis nostrum exercitationem ullam corporis suscipit laboriosam nisi ut
        aliquid ex ea commodi consequatur quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam.</p>
    </div>

    <div class="boxtwo">
      <div class="images">
        <img src="/static/4.1.jpg" alt="">
        <img src="/static/4.2.jpg" alt="">
      </div>

      <div class="images">
        <img src="/static/4.3.jpg" alt="">
        <img src="/static/4.4.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="teammates">
    <div class="team">
      <h1>Meet The Team</h1>
      <p>This is where your text starts. You can click here and start typing. Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur adipisci velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam.</p>
    </div>

    <div class="boxes">
      <div class="box">
        <div><img src="/static/5.1.jpg" alt="Error" /></div>
        <div class="boxin">
          <h2>Vikram Bajaj</h2>
          <p>Click here and start typing. Quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores.</p>
          <a href="/lessons">Lessons &rarr;</a>
        </div>
      </div>

      <div class="box">
        <div><img src="/static/5.2.jpg" alt="Error" /></div>
        <div class="boxin">
          <h2>Sonia Malhotra</h2>
          <p>Click here and start typing. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam  aperiam eaque ipsa quae ab illo inventore veritatis et<p>
          <a href="/lessons">Lessons &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <footer class="foot">
    <div>
      <p>&copy; Copyright 2020 DanceBelle.com All Rights Reserved</p>
    </div>
  </footer>

</body>

</html>