<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance Belle</title>
    <link rel="stylesheet" href="/static/styleContact.css">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <h2>Dance Belle</h2>
        </div>
        <ul id="navbuttons">
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/about">About Us</a></li>
            <li class="item"><a href="/news">News</a></li>
            <li class="item"><a href="/lessons">Lessons</a></li>
            <li class="item"><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="address">
            <h1>Contact Us</h1>
            <h2>ballet Dance Academy</h2>
            <p>12 Pike St, New York, NY 10002</p>
            <p>contact@example.com</p>
            <p>1-234-567-8901</p>
        </div>

        <div class="form">
            <form action="/contact" method="post">
                <label for="name">Enter Your Name: </label>
                <input type="text" id="name" name="name">

                <label for="mobile">Enter Your Mobile Number: </label>
                <input type="phone" id="mobile" name="mobile">

                <label for="email">Enter Your Email Address: </label>
                <input type="text" id="email" name="email">

                <label for="age">Enter Your age: </label>
                <input type="number" id="age" name="age">

                <label for="location">Enter Your Location: </label>
                <input type="text" id="location" name="location">

                <button class="btn">Submit</button>
            </form>
        </div>
    </div>

    <footer class="foot">
        <div>
            <p>&copy; Copyright 2020 DanceBelle.com All Rights Reserved</p>
        </div>
    </footer>
</body>

</html>