<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dance Belle</title>
  <link rel="stylesheet" href="/static/styleHome.css">
</head>

<body>
  <div class="first">
    <nav id="navbar">
      <div id="logo">
        <h2>Dance Belle</h2>
      </div>
      <ul id="navbuttons">
        <li class="item"><a href="/">Home</a></li>
        <li class="item"><a href="/about">About Us</a></li>
        <li class="item"><a href="/news">News</a></li>
        <li class="item"><a href="/lessons">Lessons</a></li>
        <li class="item"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="container">
      <div>
        <h1>Classical Ballet School Based in Mumbai</h1>
        <p>This is where your text starts. You can click here and start typing. Odit aut fugit sed quia consequuntur
          magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam.</p>
      </div>
      <ul>
        <li class="item"><a href="/about">About Our School &rarr;</a></li>
      </ul>
    </div>
  </div>
  <div class="second">
    <div class="headerone">
      <h1>Why Should You Learn To Dance ?</h1>
    </div>
    <div class="boxes">
      <div id="one"><img src="/static/1.1.png" alt="Improved Posture" />
        <h2>Improved Posture</h2>
        <p>Click here and start typing. Veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enimipsam.
        </p>
      </div>
      <div id="two"><img src="/static/1.2.png" alt="Gracefulness &amp; Rhythm" />
        <h2>Gracefulness &amp; Rhythm</h2>
        <p>Click here and start typing. Veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enimipsam.
        </p>
      </div>
      <div id="three"><img src="/static/1.3.png" alt="Increased flexibility" />
        <h2>Increased flexibility</h2>
        <p>Click here and start typing. Veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enimipsam.
        </p>
      </div>
    </div>
  </div>
  <div class="third">
    <div>
      <h1>Our lessons</h1>
    </div>
    <div class="boxes">
      <div class="box"><img src="/static/3.1.jpg" alt="" />
        <h2>Adult Programs</h2>
        <p>Click here and start typing. Aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
          vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas.</p>
      </div>
      <div class="box"><img src="/static/3.2.jpg" alt="" />
        <h2>Programs for Kids</h2>
        <p>Click here and start typing. Aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
          vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas.</p>
      </div>
    </div>
  </div>
  <div class="fourth">
    <div>
      <h1>Latest News</h1>
    </div>
    <div class="boxes">
      <div class="box">
        <div><img src="/static/2.1.jpg" alt="Error" /></div>
        <div class="boxin">
          <h2>Peek behind the curtain of our school</h2>
          <p>This is where your text starts. You can click here and start typing. Ratione voluptatem sequi nesciunt
            neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur adipisci velit sed quia non
            numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat.</p>
        </div>
      </div>
      <div class="box">
        <div><img src="/static/2.2.jpg" alt="Error" /></div>
        <div class="boxin">
          <h2>Annual performance of our juniors</h2>
          <p>This is where your text starts. You can click here and start typing. Sed ut perspiciatis unde omnis iste
            natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo
            inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="fifth">
    <div>
      <h1>Will Get You On Your Toes</h1>
      <p>This is where your text starts. You can click here and start typing. Aut odit aut fugit sed quia consequuntur
        magni dolores eos qui ratione voluptatem sequi nesciunt neque.</p>
        <form action="/lessons">
            <button type="submit" class="btn" href="/lessons">Book a Lesson</button>
        </form>
    </div>
  </div>
  <footer class="sixth">
    <div>
      <p>&copy; Copyright 2020 DanceBelle.com All Rights Reserved</p>
    </div>
  </footer>
</body>

</html>