<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styleLessons.css">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <h2>Dance Belle</h2>
        </div>
        <ul id="navbuttons">
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/about">About Us</a></li>
            <li class="item"><a href="/news">News</a></li>
            <li class="item"><a href="/lessons">Lessons</a></li>
            <li class="item"><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="room">
        <div class="boxone">
            <h1>Lesson Schedule</h1>
            <h3 class="adult">Adults</h3>
            <div>
                <p>Mon - Fri</p>
                <p>4.00pm - 6.00pm</p>
            </div>
            <div>
                <p>Weekend</p>
                <p>1.00pm - 4.00pm</p>
            </div>

            <h3 class="adult">Juniors</h3>
            <div class="time">
                <p>Mon - Fri</p>
                <p>1.00pm - 3.30pm</p>
            </div>
            <div class="time">
                <p>Weekend</p>
                <p>9.00am - 12.00am</p>
            </div>

        </div>

        <div class="prices">
            <h1>Lesson Prices</h1>
            <h2>Weekday Lessons</h2>
            <div class="cost">
                <p>Juniors</p>
                <p>$25</p>
            </div>
            <div class="cost">
                <p>Adults</p>
                <p>$35</p>
            </div>


            <h2>Weekday Workshops</h2>
            <div class="cost">
                <p>Juniors</p>
                <p>$60</p>
            </div>
            <div class="cost">
                <p>Adults</p>
                <p>$85</p>
            </div>
        </div>
    </div>

    <footer class="foot">
        <div>
            <p>&copy; Copyright 2020 DanceBelle.com All Rights Reserved</p>
        </div>
    </footer>
</body>

</html>