<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balle Dance</title>
    <link rel="stylesheet" href="/static/styleNews.css">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <h2>Dance Belle</h2>
        </div>
        <ul id="navbuttons">
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/about">About Us</a></li>
            <li class="item"><a href="/news">News</a></li>
            <li class="item"><a href="/lessons">Lessons</a></li>
            <li class="item"><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="fourth">
        <div>
            <h1>Latest News</h1>
        </div>
        <div class="boxes">
            <div class="box">
                <div>
                    <img src="/static/2.1.jpg" alt="Error" />
                </div>
                <div class="boxin">
                    <h2>Peek behind the curtain of our school</h2>
                    <p>This is where your text starts. You can click here and start typing. Ratione         voluptatem sequinesciunt neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur adipiscivelit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquamquaerat.</p>
                </div>
            </div>
            <div class="box">
                <div>
                    <img src="/static/2.2.jpg" alt="Error" />
                </div>
                <div class="boxin">
                    <h2>Annual performance of our juniors</h2>
                    <p>This is where your text starts. You can click here and start typing. Sed ut perspiciatis undeomnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaqueipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemoenim ipsam.</p>
                </div>
            </div>

            <div class="box">
                <div>
                    <img src="/static/2.3.jpg" alt="Error" />
                </div>

                <div class="boxin">
                    <h2>Be a ballerina for one day</h2>
                    <p>This is where your text starts. You can click here and start typing. Sed ut perspiciatis undeomnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaqueipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemoenim ipsam.</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="foot">
        <div>
            <p>&copy; Copyright 2020 DanceBelle.com All Rights Reserved</p>
        </div>
    </footer>
</body>

</html>